* {
    font-family: 'Roboto';
    color: rgb(30,24,24, 0.85);
    font-size: calc(12px + 0.8vh);
    box-sizing: border-box;
}

h1{
  color: #C79F12;
  font-size: calc(18px + 1.5vw)
}

.link {
 color: #C79F12;

}
hr {
  margin: 2rem;
  justify-content: center;
  color: #C79F12;
  border-top: 3px solid;
  width: 100vw;
}

span {
  color: #C79F12;
  font-weight: 500;
}
#hero, .project {
    margin-top: 20px;
    max-width: 1200px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    border-bottom: 5px solid #C79F12;
    
    margin: auto;

}

.project {
  margin: 2rem auto 2rem auto;
}


.bulletpoint {
  max-width: 600px;
  margin: auto;
}
.bulletpoint li {
  padding: 30px;
  text-align: center;
  align-content: center;
  justify-content: center;
  
}

#hero {
  height: 90vh;
}

.main {
  width: 100%;
  align-self: center;
  justify-self: center;
}

.Illustration{
    width: 100%;
    place-self: center;
}

body {
    align-items: center;
    justify-content: center;
    background-color: #F3F4F4;
    margin: 0px;
    
}


#title, .textblock{
    
    text-align: center;
    align-self: center;
    flex-wrap: center;
    
}

.one{
  grid-row: 1;
}

#quote {
  color:rgb(38, 36, 36);
  text-align: center;
  font-size: 10px;
  opacity: 80%;
}



footer {
  background-color: black;
}

footer p {
  font-size: 12px;
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

#logoFooter {
  float:  center;
  position: center;
  margin-right: 25px;
}


footer ul {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  list-style-type: none;
}
footer li a{
  color: white;
}

#blobStyle, #blobTwitter, #blobFund{
  animation-name: bounce;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}

#shuttle, #socialmedia, #bird, #bird2, #bird3, #bird4
{
  animation: float 7s ease-in-out infinite;
}

#headset1, #codescreen, #bird5, #bird6, #bird7, #bird8 {
  animation: float 8s ease-in-out infinite;
}

#javascript1, #react1, #bird9, #bird10, #bird11, #bird12,
#python1 {
  animation: float 6s ease-in-out infinite;
}

#freedom, #bird13, #bird14, #bird15,
#bitcoin{
  animation: float 7.5s ease-in-out infinite;
}
#testpath {
  stroke-dasharray: 1600;
  stroke-dashoffset: 0;
  animation: dash 40s linear alternate infinite;
}

/*new bits */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  border-bottom: #C79F12 3px solid;
}
.logoMenu {
  display: flex;
  color: #C79F12
}

.navlink {
  display: flex;
  justify-content:space-around;
  width: 45%;
  color: white;
  
}
.navlink li {
  list-style: none;
  color: white;
}
.navlink a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: old;
  color: white;
  
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div{
  width: 30px;
  height: 2px;
  margin: 5px;
  border-radius: 30px;
  background-color: white;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) and (min-width: 600px){
  .main {
    width: 85%;
  }

  .one {
    margin: 35px;
  }
}

@media screen and (max-width: 900px){
  #hero, .project {
    height: auto;
    overflow-x: hidden;
    
  }
  .textblock {
    width: 85%;
    position: center;
    margin: auto;
  }
  .one {
    margin: 35px;
  }

  .navlink{
      position: absolute;
      right: 0px;
      top: 8vh;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius:20px 20px 20px 20px;
      
      visibility: hidden;
      transition: transform 0.005s ease-in;
  }

  .navlink li{
      opacity: 0;
  }
  .burger {
      display: block;
      position: absolute;
      right: 0px;
  }
}

.nav-active{
  top: 0vh;
  height: 25vh;
  transform: translateX(0%);
  visibility: visible;
}


@keyframes navlinkfade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 2;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-3px, -6px);
}






@keyframes dash {
  0% {
    stroke-dashoffset: 4000;
    fill: #C79F12;
  }
  75% {
    stroke-dashoffset: 0;
    fill: #C79F12;
  }
  100% {
  stroke-dashoffset: 0;
  fill: #C79F12;
  }

}




@keyframes rotate {
  0% { 
    transform-origin: center center;
    transform: rotateY(0deg)
  }
  50% { 
    transform-origin: center center;
    transform: rotateY(180deg)
  }
  100% { 
    transform-origin: center center;
    transform: rotateY(360deg)
  }
}


  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      
      transform: translatey(-5px);
    }
    100% {
      
      transform: translatey(0px);
    }
  }
  
@keyframes bounce {
  0%   { transform: scale(0.9); transform-origin: center;}
  50%  { transform: scale(1); transform-origin: center;}
  100% { transform: scale(0.9); transform-origin: center;}
}